.step-instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-instructions-container img {
    width: 200px;
    margin-bottom: 20px;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    justify-content: space-between;
}

.first-page-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


